/*anchos y altos nunca con pixeles por que no se hace responsivo*/
/*ajustas el tamaño de la pantalla para que no genere un scroll hacia la derecha*/
html{
  max-width: 100vw;
}
body{
  max-width: 100vw;
  background: linear-gradient(100deg,white,rgb(212, 251, 255));
}
/*las paginas por defecto tienen un margin y un paddin por eso se expande aun mas */
*{
padding: 0px;
margin: 0px;
}
/*sirve para la barra de navegacion y añadir sus propiedades*/
nav{
    font-size:25px;
    background-color:rgb(240, 249, 255);
    /*display flex hace la barra de nav flexible*/
    display:flex;
    /*justifica elcontenido deacuerdo alflex*/
    justify-content: space-between;
    /*separacion entre los bordeados y el texto*/
    padding: 10px;
    /*tamaño del texto y solid para hacerlo visible*/
    border: 5px solid rgb(167, 232, 226);
    /*tamaño de separacion entre los elementos del nav */
    margin-bottom: 10px;
}

ul{
    /*quita el estilo por defecto de la lista */
    list-style: none;
    display: flex;
    /*separacion para los elementos del flex */
    gap: 50px;
}
.Contenido{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Frase{
    display: flex;
    /*alinea la posicion de texto verticalmente*/
    align-items: center;
    /*posiciona de manera vertical las columnas*/
    flex-direction: column;
    /*determina la posicion del texto  horizontalmente*/
    justify-content: top;
    /*poner el borde*/
    border: 3px solid rgb(167, 232, 226);
    /*tamaño del borde*/
    border-radius: 30px;
    /*tamaño del contenedor tanto de alto como de ancho*/
    height: 50vh;
    width: 50vw;
    /*separacion entre los elementos*/
    padding: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /*insertar imagen*/
    background-image: url(https://images.unsplash.com/photo-1599622509902-bf8069e4f147?q=80&w=1940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /*para que no se repita si es pequeña*/
    background-repeat: no-repeat;
    /*para que se adapte al div*/
    background-size: cover;
    background-position:center;
    /*Propiedades de fuente*/
    font-size: xx-large;
    font-family: 'Dhurjati', sans-serif;
    font-family: 'Kalnia', serif;
    gap: 25px;
    
}
.Titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: x-large;

}

  .Contenido.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
  }



  
  
